<!DOCTYPE html>
<!--/*@thymesVar id="user" type="pl.chatkakudlatka.dogsShowApp.auth.User"*/-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Zarejestruj się</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link th:href="@{/bootstrap-5.0.2/css/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/bootstrap-5.0.2/js/bootstrap.js}"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Rejestracja użytkowników</h1>
    </div>
    <form action="/user/save" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        Email:<input type="email" th:field="*{email}" required/><br>
        Hasło:<input type="password" th:field="*{password}" required minlength="6" maxlength="10"/><br>
        Nazwa użytkownika: <input type="text" th:field="*{username}" required minlength="2" maxlength="20"/> <br>

        Język: <select name="language">
            <!--/*@thymesVar id="language" type="pl.chatkakudlatka.dogsShowApp.model.Language"*/-->
            <option
                    th:each="language : ${languageList}"
                    th:value="${language}"
                    th:text="${language}"></option>
        </select> <br>
        <input type="checkbox" id="havedog" name="havedog"
               checked>
        <label for="havedog">Czy posiadasz psa?</label><br>
        Imię:<input type="text" name="firstName" /><br>
        Nazwisko:<input type="text" name="lastName"/><br>
        <input type="checkbox" id="havekennel" name="havekennel">
        <label for="havekennel">Czy posiadasz hodowlę?</label><br>
        Pozycja przydomka w imieniu psa: <select name="kennelNamePosition">
            <option
                    th:each="position : ${kennelNamePositionList}"
                    th:value="${position}"
                    th:text="${position.getPositionPrint()}"></option>
        </select> <br>
        Nazwa hodowli:<input type="text" name="kennelName" /><br>
        <br>


        <button type="submit" class="btn btn-primary">Zareejestruj</button>
</form>
</div>


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Accordion Item #1
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Accordion Item #2
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>

</body>
</html>


<!--Email-->
<!--Hasło-->
<!--nazwa użytkownika-->

<!--Czy posiadasz psa []-->
<!--Imię-->
<!--Nazwisko-->

<!--Czy posiadasz hodowlę []-->
<!--Nazwa-->
<!--Pozycja przydomka w nazwie psa: (kennelNamePositionList)-->